@font-face {
    font-family: Colonna;
    src: url("../fonts/COLONNA.TTF");
}

@font-face {
    font-family: Minion;
    src: url("../fonts/MinionPro-Regular.ttf");
}

html {
    background: #ce8561;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: Minion;
    margin: 0 auto;
}

html,
body {
    width: auto;
    height: auto;
}

header {
    display: flex;
    width: 1040px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section {
    width: 1040px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 75px;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

h2 {
    margin-top: 0;
    padding-top: 75px;
    font-size: 57px;
    font-weight: 400;
}

button {
    font-family: Minion;
    box-shadow: 6px 5px 20px 2px rgb(0 0 0 / 44%);
    transition: .5s;
}

button:hover {
    box-shadow: 6px 5px 20px 5px rgba(0, 0, 0, 0.582);
}

.logo {
    font-family: Colonna;
    font-size: 75px;
    margin: 0;
    margin-right: 338px;
}

.nav {
    margin-right: 142px;
}

.nav a {
    margin-right: 18px;
    transition: .5s;
}

.nav a:hover {
    color: #523426;
}

.cart-btn,
.login-btn {
    width: 40px;
    height: 40px;
    justify-self: none;
    transition: .1s;
    filter: invert(100%) sepia(5%) saturate(7466%) hue-rotate(254deg) brightness(117%) contrast(101%);
}

.cart-btn:hover,
.login-btn:hover {
    filter: invert(17%) sepia(71%) saturate(368%) hue-rotate(335deg) brightness(98%) contrast(90%);
}

.cart-btn {
    margin-right: 21px;
}

.callout {
    margin: 0 auto;
    margin-top: 70px;
    padding-bottom: 75px;

    width: 1040px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.company-name {
    font-size: 61px;
    width: 350px;
    margin: 0;
    margin-bottom: 35px;
}

.cal {
    font-size: 37px;
    width: 423px;
    margin: 0;
    margin: 35px 0 0 46px;
}

.catalouge-btn {
    margin: 60px 0 0 46px;
    padding: 12px 60px 12px 60px;
    background-color: white;
    color: #523426;
    border-radius: 40px;
    border: none;
    font-size: 31px;
}

.square {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    width: 331px;
    height: 632px;
    background-color: #f1ab86;
    float: right;
}

.about-us {
    background: #f2d6c7;
    width: 100%;
    text-align: center;
    color: #523426;
    padding-bottom: 75px;
}

.cripple {
    margin: 0 auto;
    width: 1040px;
}

.abt-us-txt {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    text-align: right;
}

.txt {
    background-color: #cdac9a;
    border-radius: 24px;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 83px;
    margin-left: -41px;
    padding-right: 400px;
    margin-right: -400px;
}

.product-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
}

.card {
    width: 292px;
    height: 427px;
    background-color: #cdac9a;
    border-radius: 24px;
}

.prod-img {
    padding-left: 130px;
    margin-left: -175px;
    margin-top: 38px;
}

.prod-name {
    font-size: 35px;
    margin: 0 auto;
    margin-top: -35px;
}

.order-btn {
    margin-top: 35px;
    background-color: white;
    color: #523426;
    border-style: none;
    font-size: 28px;
    border-radius: 48px;
    padding: 6px 52px 6px 52px;
}

.all-prods {
    margin-top: 60px;
    background-color: white;
    color: #523426;
    border-style: none;
    font-size: 28px;
    border-radius: 48px;
    padding: 12px 70px 12px 70px;
}

.why-us {
    width: 100%;
    background-color: #f2d6c7;
    color: #523426;
}

.pros-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pro-card {
    width: 291px;
}

.pro-img {
    filter: invert(17%) sepia(71%) saturate(368%) hue-rotate(335deg) brightness(98%) contrast(90%);
}

.pro-name {
    font-size: 37px;
}

footer {
    background-color: #f2d6c7;
    padding-bottom: 10px;
}

.foot {
    width: 1040px;
    margin: 0 auto;
    text-align: center;
    color: #523426;
    padding-top: 75px;
}

.contacts-txt {
    text-align: left;
    font-size: 26px;
}

.burger {
    display: none;
}

@media screen and (max-width: 320px) {

    body {
        width: 320px !important;
        display: flex;
        flex-wrap: wrap;
    }

    header {
        width: 320px;
        margin-top: 10px;
    }

    section {
        text-align: left;
        padding-bottom: 35px;
    }

    .square {
        display: none;
    }

    .nav,
    header a {
        display: none;
    }

    .logo {
        margin: 0;
        margin-left: 15px;
        font-size: 56px;
    }

    .burger {
        display: block;
        margin-right: 28px;
        background: rgba(0, 0, 0, 0);
        border: none;
        z-index: 1;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 33px;
        height: 3.84px;
        background-color: white;
        margin: 3.5px 0;
        transition: 0.4s;
    }

    .company-name {
        font-size: 37px;
        width: 250px !important;
    }

    .callout,
    .callout-txt,
    .callout-txt p {
        width: 320px;
        flex-wrap: wrap;
        margin: 0;
    }

    .callout-txt p {
        margin: 0;
    }

    .callout {
        margin: 35px 0 0 15px;
        padding-bottom: 35px;
        flex-direction: column-reverse;
    }

    .callout img {
        width: 280px;
        height: 180px !important;
        margin: 0 auto;
        margin-left: 5px;
        margin-bottom: 25px;
    }

    .cal {
        font-size: 18px;
        margin-top: 20px !important;
        margin-left: 20px !important;
    }

    .catalouge-btn {
        margin: 0 auto;
        margin-left: 20px;
        margin-top: 35px;
        padding: 6px 55px 6px 55px;
        background-color: white;
        color: #523426;
        border-radius: 40px;
        font-size: 23px;
    }

    .cripple {
        width: 320px;
    }

    h2 {
        padding-top: 35px;
        font-size: 37px;
        text-align: center;
    }

    .about-us {
        padding-bottom: 35px;
    }

    .abt-us-txt {
        flex-direction: column !important;
    }

    .abt-us-txt img {
        width: 280px;
        height: 240px !important;
    }

    .txt {
        text-align: left;
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
        margin: 0;
        font-size: 18px;
        padding-left: 15px;
    }

    .txt p {
        margin: 0;
        margin-bottom: 20px !important;
    }

    .products,
    .why-us {
        width: 320px;
        flex-wrap: wrap;
        text-align: center;
        padding-bottom: 35px;
    }

    .product-cards,
    .pros-cards {
        flex-direction: column;
        align-items: center;
    }

    .prod-name {
        font-size: 25px;
    }

    .card {
        margin-bottom: 25px;
    }

    .all-prods {
        padding: 9px 40px 9px 40px;
        font-size: 21px;
        margin-top: 25px;
    }

    .pro-name {
        font-size: 21px;
        margin-top: 0;
        margin-bottom: 35px;
    }

    .pro-img {
        transform: scale(.7, .7);
    }

    footer,
    .foot {
        width: 320px;
    }

    .foot {
        padding-top: 35px;
    }

    .adress {
        text-align: left !important;
        margin-top: 35px;
    }

    .contacts-txt {
        font-size: 16px;
        color: rgba(82, 52, 38, .7);
    }
}